@charset "utf-8";

/*!
 * Desktop Styles
 * 
 * 
 */


/**
 * Basic Styles
 */

#document {
	margin: 0 auto;
	width: 95%;
}


header {
	width: 100%;
}

nav {
	margin: 0;
	width: 100%;
}

#base-main {
	margin: 2em 0 1em;
}

article.main-contents {
	float: left;
	width: 65%;
	margin-right: 5%;
}

aside.main-side {
	float: right;
	width: 30%;
}

footer {
	width: 100%;
	text-align: center;
}